.company-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 20px;
  background: rgb(117, 133, 150, 0.6);
  width: 60vw;
  height: 60vh;
}

.jobslist {
  background: rgb(133, 199, 211, 0.9);
  width: 70%;
  height: 25vh;
  overflow: scroll;
}
