.App {
  text-align: center;
  background-image: url("./media/1.jpg");
  background-size: cover;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.checkboxes {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: solid;
  border-radius: 5px;
  margin-top: 50px;
  height: 100px;
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
