.menu {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.app-name {
  margin-top: 20px;
  background: rgb(117, 133, 150, 0.6);
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  width: 100vw;
}

.dashboard {
  background: rgb(117, 133, 150, 0.6);
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 5px;
  border-radius: 5px;
  width: 100vw;
}
