.menu {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.truck {
  margin-left: 20px;
  height: 50px;
  z-index: 3;
}

.driver-finder {
  z-index: 5;
}

.app-name {
  margin-top: 20px;
  background: rgb(117, 133, 150, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  z-index: 1;
}

.dashboard {
  background: rgb(117, 133, 150, 0.9);
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-top: 5px;
  width: 100vw;
  font-family: "Righteous", serif;
}
