@import url(https://fonts.googleapis.com/css?family=Righteous);

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: rgb(117, 133, 150, 0.5);
  margin-top: 20px;
  border-radius: 5px;
  height: 10vh;
  width: 50vw;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background: rgb(117, 133, 150, 0.6);
  font-family: "Righteous", serif;
}

.login-link {
  color: white;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background: rgb(117, 133, 150, 0.6);
  font-family: "Righteous", serif;
}

.register-link {
  color: white;
}

label {
  text-decoration: none;
}
